body {
    font-family:Verdana, Arial;
    background-image: url("polaroid.png");
}

header {
    background-color:#111E7A;
}

header h1 {
    color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0.5em;
}

header h1 a {
    color: #f0f0f0;
}

header h1 a:hover{
    color: #f0f0f0;
    text-decoration: none;
}

h2 {
    text-align: center;
    margin-bottom: 0.3em;
}

a {
    color: black;
}

a:hover {
    color: black;
}

nav {
    margin-bottom: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

#chart-container {
    height: 40vw;
    position: relative;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  #chart-container {
      height: 50vw;
  }
}

@media screen and (max-width: 992px) {
  #chart-container {
      height: 80vw;
  }
}

@media screen and (max-width: 570px) {
  #chart-container {
      height: 120vw;
  }
}

@media screen and (max-width: 360px) {
  #chart-container {
      height: 160vw;
  }
}