<!DOCTYPE html>
<html lang = "pl">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link href="../jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
    <script src="../jsmaps/jsmaps-libs.js"></script>
    <script src="../jsmaps/jsmaps-panzoom.js"></script>
    <script src="../jsmaps/jsmaps.min.js"></script>
    <script src="../maps/poland.js"></script>
    <script src="../js/script.js"></script>
    <title>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</title>
</head>
<body>
<header>
    <h1><a href="../index.html">Wybory Prezydenta Rzeczypospolitej Polskiej 2000 - wyniki oficjalne</a></h1>
</header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="../kraj/polska.html">Polska</a>
    <ul class="navbar-nav">
        {%- for region, link in links %}
        <li class = "nav-item"><a class="nav-link" href = {{ link }} >{{ region }}</a></li>
        {%- endfor %}
        {%- if me != "Polska" %}
        <li class="nav-item"><a class="nav-link active" href="#">{{ me }}</a></li>
        {%- endif %}
        {%- if children %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">...
            <span class="caret"></span></a>
            {%- if me != "Polska" %}
            <ul class="dropdown-menu scrollable-menu">
                {%- for region, link in children  %}
                <li class = "dropdown-item"><a href={{ link }}>{{region}}</a></li>
                {%- endfor %}
            </ul>
            {%- else %}
            <ul class="dropdown-menu" style="height: 300px; width: 300px">
                <li class="jsmaps-wrapper" id="poland-map"></li>
            </ul>
            {%- endif %}
        </li>
        {%- endif %}
    </ul>
</nav>
<div class = "container-fluid">
    <div class = "row">
        <section class = "col-lg-4">
            <h2>Wyniki poszczególnych kandydatów</h2>
            <table class = "table">
                <thead>
                <tr>
                    <th>Kandydat</th>
                    <th>Liczba głosów</th>
                    <th>Procentowa liczba głosów</th>
                </tr>
                </thead>
                <tbody>
                {%- for key, value in results.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                    {%- if statistics['Głosy ważne'] != 0 %}
                    <td>{{ "{0:.2f}%".format(100 * value / statistics['Głosy ważne'], 2) }}</td>
                    {%- else %}
                    <td>0.00%</td>
                    {%- endif %}
                </tr>
                {%- endfor %}
                </tbody>
            </table>
        </section>
        <section class = "col-lg-5">
            <h2>Procentowa liczba głosów</h2>
            <div id = "chart-container">
                <canvas id="chart"></canvas>
            </div>
        </section>
        <section class = "col-lg-3 text-center">
            <h2>Statystyka ogółem</h2>
            <dl>
                <dt>Liczba uprawnionych do głosowania</dt>
                <dd>{{ statistics['Uprawnieni'] }}</dd>
                <dt>Liczba wydanych kart do głosowania</dt>
                <dd>{{ statistics['Wydane karty'] }}</dd>
                <dt>Liczba kart wyjętych z urny</dt>
                <dd>{{ statistics['Głosy ważne'] + statistics['Głosy nieważne'] }}</dd>
                <dt>Liczba ważnych głosów</dt>
                <dd>{{ statistics['Głosy ważne'] }}</dd>
                <dt>Liczba nieważnych głosów</dt>
                <dd>{{ statistics['Głosy nieważne'] }}</dd>
                <dt>Frekwencja</dt>
                <dd>{{ "{0:.2f}%".format(100 * statistics['Wydane karty'] / statistics['Uprawnieni'], 2) }}</dd>
            </dl>
        </section>
    </div>
</div>
<script>
    var candidates = {{ results.keys() | list }};
    var results = {{ results.values() | list }};
    make_chart(candidates, results);
    {%- if me == "Polska" %}
    make_map();
    {%- endif %}
</script>
</body>
</html>